/* Importación de fuentes */
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&family=Poppins:wght@400;600&display=swap');

/* Reset y configuración básica */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    background-image: url('https://th.bing.com/th/id/R.fa5409ce37c403e30b32eb56316cab99?rik=ksKpOunST%2bYvTw&pid=ImgRaw&r=0');
    color: #fff; /* Texto blanco */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}

.profile-container {
    background-color: rgba(0, 0, 0, 0.9);
    border-radius: 12px;
    padding: 30px 20px;
    width: 350px;
    box-shadow: 0 4px 15px rgba(255, 255, 255, 0.3);
}

/* Título principal */
h1 {
    font-family: 'Orbitron', sans-serif;
    font-size: 1.8em;
    text-shadow: 0 0 8px rgba(255, 255, 255, 0.8);
    margin-bottom: 20px;
}

/* Nombre del usuario */
h3 {
    font-family: 'Orbitron', sans-serif;
    font-size: 1.5em;
    margin-bottom: 20px; /* Ajuste milimétrico */
    margin-top: 10px; /* Añade espacio hacia abajo */
}


/* Información del perfil */
.profile-info p {
    font-size: 1.1em;
    color: #ccc;
    margin-bottom: 5px;
}

/* Estadísticas */
.stats {
    margin-top: 15px;
}

.stats p {
    font-family: 'Poppins', sans-serif;
    font-size: 1em;
    margin: 5px 0;
    font-weight: 400;
    color: #fff;
}

/* Imagen de perfil */
#profile-photo {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
    border: 2px solid #fff;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

/* Botón de cambiar imagen */
.file-upload-label {
    display: inline-block;
    padding: 5px 12px; 
    font-size: 0.8em; 
    color: #fff;
    background-color: #000;
    border: 1px solid #fff;
    border-radius: 5px; /* Bordes más pequeños */
    cursor: pointer;
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.3);
    transition: all 0.3s ease;
}

.file-upload-label:hover {
    background-color: #fff;
    color: #000;
}

/* Ocultar input */
#photo-upload {
    display: none;
}

/* Botón de salir */
.logout-button {
    margin-top: 20px;
    font-size: 1em;
    color: #ffffff;
    background-color: #000000;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    text-shadow: 0 0 5px #ffffff;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.logout-button:hover {
    background-color: #ffffff;
    color: #000000;
    box-shadow: 0 0 8px #fff;
}
