* {
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('https://th.bing.com/th/id/R.fa5409ce37c403e30b32eb56316cab99?rik=ksKpOunST%2bYvTw&pid=ImgRaw&r=0');
    background-size: cover;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}

h1 {
    font-family: 'Orbitron', sans-serif;
    font-size: 5em;
    color: rgb(0, 0, 0);
    text-shadow: 0 0 10px rgb(255, 255, 255), 0 0 20px rgb(255, 255, 255);
    margin-bottom: 20px;
}

.salchicha {
    background-color: rgb(0, 0, 0); /* Fondo negro */
    color: rgb(255, 255, 255); /* Texto blanco */
    padding: 15px 30px; /* Espaciado interior */
    border-radius: 50px; /* Bordes redondeados */
    display: inline-block;
    margin-bottom: 30px;
}

h3 {
    font-size: 1.8em;
    font-family: 'Raleway', sans-serif;
    margin: 0;
    text-shadow: 0 0 10px rgb(255, 255, 255), 0 0 20px rgb(63, 63, 63);
}

.button-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 10px;
}

button {
    padding: 15px 30px;
    font-size: 1.5em;
    border: 2px solid rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    cursor: pointer;
    border-radius: 8px;
    text-shadow: 0 0 5px rgb(0, 0, 0);
    transition: 0.3s ease;
}

button:hover {
    background-color: rgb(255, 255, 255);
    color: #000;
    text-shadow: none;
    box-shadow: 0 0 10px rgb(0, 0, 0);
}
.music-button {
    position: absolute;
    bottom: 20px;
    right: 20px;
    padding: 10px 20px;
    font-size: 16px;
    border: 2px solid #fff;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    text-shadow: 0 0 5px #fff;
    transition: all 0.3s ease;
}

.music-button:hover {
    background-color: #fff;
    color: #000;
}